<!-- PAGE TITLE -->
<div class="page-title">Our Club</div>
<!-- FEATURED IMAGE -->
<div class="page-img">
  <%= image_tag "photos/featured.jpg", :alt => "Volleyball fundraiser" %>
</div>
<!-- PAGE CONTAINER -->
<section class="pagecontainer">
  <h2>Voluptate illum dolore</h2>
  <p>Voluptate illum dolore ita ipsum, quid deserunt singulis, labore admodum ita multos malis ea nam nam tamen fore amet. Vidisse quid incurreret ut ut possumus transferrem si ita labore dolor si appellat, aut dolore doctrina. Commodo dolor esse in magna, a a multos senserit nam si aliqua iis multos, appellat elit senserit litteris ubi ne eram voluptate commodo si aliqua occaecat ad quem enim, eram domesticarum fabulas quorum doctrina ut commodo efflorescere aut possumus.</p>
  <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia ipsum quis diam aliquam vel mollis nisi tempus. Nam et ante urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</blockquote>
  <p>Anim admodum o possumus. Ea eu nisi senserit, eiusmod elit sunt cupidatat fugiat. Ad an tamen eiusmod, incurreret eram proident. Et noster quem e tempor. Non culpa exquisitaque. Aut enim graviterque. Ne cupidatat illustriora.</p>
  <hr/>
  <h3>History</h3>
  <ul class="list">
    <li>
      <strong>2013</strong>- Commodo quorum quamquam officia ad ne ne eram litteris. Ab ex labore culpa elit qui dolore ubi id quem arbitror. Doctrina ut legam nescius.</li>
    <li>
      <strong>2012</strong>- Ne legam te nulla. Nam ut quae noster minim eu ut aute eiusmod mandaremus, aut sint litteris consequat, id id noster doctrina. Cupidatat quis singulis, magna quibusdam aut probant, eiusmod ab esse possumus.</li>
    <li>
      <strong>2010</strong>- Commodo quorum quamquam officia ad ne ne eram litteris. Ab ex labore culpa elit qui dolore ubi id quem arbitror. Doctrina ut legam nescius..</li>
  </ul>
  <hr/>
  <h3>Honours</h3>
  <ul class="list">
    <li>
      <strong>2011-2012 League Champion</strong>- Summis singulis litteris, fugiat proident do iudicem, consequat aute enim.</li>
    <li>
      <strong>2009-2010 Super Cup</strong>- Cernantur est summis, te esse ullamco cupidatat, cillum quamquam sed dolore eram, sunt cernantur ubi noster ipsum, aliquip labore offendit nescius, singulis eram do singulis sempiternum do officia summis o fabulas praesentibus, anim litteris ex mandaremus. Et e quid pariatur.</li>
    <li>
      <strong>2007-2008 Intercontinental Cup</strong>- Sunt expetendis exquisitaque, an velit incurreret sempiternum in sint familiaritatem iudicem aute tempor, ex sint non quem, fore exquisitaque excepteur nulla incurreret, ita incurreret ubi quibusdam quo tempor se illum fabulas qui fabulas esse pariatur.</li>
  </ul>
  <p>Proident aut cillum e an dolor legam eram admodum. Aliquip sint noster est illum quo de dolore varias de senserit, est hic exquisitaque ab ea veniam laborum philosophari..</p>
</section>
<div class="clear"></div>
