
<!-- FLEXSLIDER -->
<section class="flex-wrapper">
  <div id="slider" class="flexslider">
    <ul class="slides">
      <li>
        <div class="flex-title">
          <h3>Volleyball Tournament</h3>
          <p>A fundraising tournament to support Bill and Nicole Garrison in their pursuit of god's will in the missions field.</p>
        </div>
        <%= image_tag "logo.jpg" %>
      </li>
      <li>
        <div class="flex-title">
          <h3>Play Volleyball for a good cause!</h3>
          <p>$20 / person | Blind Draw | BBQ (weather permitting) or Pizza | Chinese Auction | 50 / 50 raffle | BAKE SALE!! </p>
        </div>
        <%= image_tag "photos/group3.jpg", :alt => "" %>
      </li>
      <li>
        <div class="flex-title">
          <h3>BBQ!! (Weather permitting)</h3>
          <p>We recognize that this is memorial day weekend and will be providing relatively cheap BBQ options as part of the fundraiser!!</p>
        </div>
        <%= image_tag "photos/bbq.jpg", :alt => "" %>
      </li>
    </ul>
  </div>
</section>
<div class="clear"></div>  
<!-- PAGE CONTAINER -->
<section class="pagecontainer">
    <h1>What is this all about?!</h1>
    <hr/>
    <!-- POST -->
    <article class="post">
      <figure>
        <%= image_tag "photos/dr_garrison.jpg", :alt => "Dominican Republic" %>      
        <figcaption>
          <h2>Dominican Republic Missions</h2>
        </figcaption>
      </figure>
      <p>
        My wife (Nicole Garrison) and I (William Garrison) are both solid believers in Christ who have been
        looking for gods path in our lives. We both have felt very strongly that god has been calling us to 
        the missions field.
      </p>
      <p>
        Recently it was announced that The Chapel (a church we like to volunteer for along with our own church ) 
        will be taking a mission trip to the Dominican Republic from June 21 - 28, 2014. God has opened a door 
        for us to partner with an organization called Score International in sharing our love for Jesus with the
        Dominican Republic. We will be facing many challenges starting with the language barrier, assisting the 
        missionaries, ministering to the locals, working within orphanages, and helping the churches spread the message
        of Jesus while meeting some of their health and physical needs. 
      </p>
      <p>
        My wife will be a registered nurse who will be helping in that capacity while I will be putting my god given talents (few though they may be ;)) to use. We both feel we have a lot to offer this group. 
        The price to go on this trip is 1800 / person. My wife and I are looking to pursue all of it through fundraising. 
        Thank you and god bless!!
      </p>
      <p>
        This fundraiser is going to be the core of all of our fundraising. Its a volleyball fundraiser but its also a bake sale / 
        chinese auction / bbq sale and 50 / 50 raffle. Please come join us for all the fun!
      </p>
      <p>
        William and Nicole Garrison
      </p>
    </article>
  <hr/>
</section>
<div class="clear"></div>  

